@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
.cardd {
  position: absolute;
  width: 1320px;
  height: 483px;
  left: 60px;
  background: #e5e5e5;
  font-size: 100px;
}
.transactions {
  position: relative;
  width: 1320px;
  height: 40px;
  text-align: right;
  background: #fff !important;
  font-size: 16px !important;
  display: block;
}
a {
  position: relative;
  margin-top: 1000px !important;
  margin-right: 100px;
}
.seller {
  width: 223px;
  height: 40px;
  background: #12805c !important;
  border-radius: 5px 5px 0px 0px !important;
  color: white;
  margin-bottom: 0px !important;
}
/* .ant-tabs {
  width: 1320px;
  height: 800px;
  margin-left: 60px !important;
  background: #e5e5e5;
} */
.rowClassName1 td:first-child {
  border-left: 6px solid #f6a041;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rowClassName2 td:first-child {
  border-left: 6px solid #12805c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.buyer {
  width: 223px;
  height: 40px;
  background: white !important;
  border-radius: 5px 5px 0px 0px !important;
  color: black !important;
  display: none;
}
#rc-tabs-0-tab-2.ant-tabs-tab-btn {
  color: black;
  width: 121px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140.62%;
}
#rc-tabs-0-tab-1.ant-tabs-tab-btn {
  color: white;
  width: 121px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140.62%;
}
.ant-tabs > .ant-tabs-nav {
  /* So that there is no gap between the content and tabs */
  margin-bottom: 0px !important;
  color: #fff !important;
}
.ant-table-measure-row {
  min-height: 0px !important;
  display: none;
}
/* row data */
tbody > tr > td {
  height: 74px !important;
  padding: 2px 2px 2px 2px !important;
}
tbody > tr > td > p {
  height: 20px !important;
  padding: 0px 0px 0px 0px !important;
}
tr > td .ant-table-cell {
  height: 84px !important;
  padding: 0px;
}
.ant-tabs-content-holder {
  /* padding: 15px; */
  margin-top: 0px !important;
  border-top: 10px solid #12805c;
}
.title {
  margin-top: 50px;
  margin-left: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.31px !important;
  color: black;
}
.ant-table {
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 140.62% !important;
}

.ant-table-thead .ant-table-cell {
  background: #c4c4c4 !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 140.62% !important;
  border-radius: 2px 2px 0px 0px !important;
}
.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
  border-top: 10px solid #12805c !important;
  display: none;
}

div .ant-tabs-content .ant-tabs-content-top {
  background: #c4c4c4 !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 140.62% !important;
  border-radius: 5px 5px 0px 0px !important;
}
.ant-table-row .ant-table-row-level-0 {
  height: 5px !important;
}
.ant-pagination .ant-table-pagination .ant-table-pagination-right {
  display: none !important;
}
#rc-tabs-0-panel-1 {
  background: #c4c4c4 !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 140.62% !important;
  border-radius: 5px 5px 0px 0px !important;
}
